:root {
    --poppins: 'Poppins', sans-serif;
    --play: 'Playfair Display', serif;
}

.faq-item2 {
    padding: 1rem 1rem !important;
}

.detail-faq {
    flex-direction: row-reverse;
    gap:1.88rem;
    padding: 0;
}
.be{
    width: 35%;

}
.hero{
    width: 65%;
}
.hero img{
    width: 100%;
}

.hero-faq,
.be-faq {
    flex: 1;
    width: 50%;
}

.hero-faq {
    position: relative;
    overflow-x: initial;
}

.be-detail-faq {
    /* padding: 0.5rem; */
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    margin-block: 1.5rem;
    padding: 0.62rem 1.25rem;
}

.benifits-faq {
    background: none;
    /* position: relative; */
    margin-block: 0 !important;
}

.bg-head-faq h1 {
    color: var(--dark-black, #191919);
    font-family: var(--poppins);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-faq {
    flex-direction: column;
}

#title-dec {
    color: var(--gray, #7F7F7F);
    font-family: var(--poppins);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-faq h1 {
    color: #000;

    font-family: var(--play);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0.94rem;
}

#hero-img-faq {
    object-fit: cover;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 62% 100%, 62% 72%, 0 72%); */
}

#hero-img-faq2 {
	object-fit: cover;
	/* width: 100%; */
	height: 17.0625rem;
	/* position: absolute; */
	/* top: 25rem;
	right: 268px; */
}
.con-btn{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.94rem 2.43rem;
    /* width: 14.25rem;
height: 5.5625rem; */
background-color: #BA9778;
}
a{
    text-decoration: none;
}
.con-2 h4{
    color: var(--white, #FFF);
    font-family: var(--poppins);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* .con-btn-1 {
	position: absolute;
	bottom: 53px;
	right: 63px;
} */

#hero-img-faq{
    position: relative !important ;
    width: 100%;

}
#hero-img-faq2{
    border-right: 10px solid white;
    border-top: 10px solid white;

}
.hero-fq{
    position: absolute ;
    bottom: -2rem;
    right: 0;
    display: flex;
    align-items: end;
    width: 100%;

}
.con-btn{

    border-top: 10px solid white;
}



@media (max-width: 768px) {

    .con-btn{
        width: 9.25rem !important;
        border-top: 10px solid white;
}
}
@media (min-width: 768px) {

        #hero-img-faq2{
            width: 190% !important;

        }
    .con-btn-1{
        width: 100%;
    }
}


@media (max-width: 1800px) {

.con-btn{


    padding: 0.94rem 0.75rem;

}
}

