:root {
    --poppins: 'Poppins', sans-serif;
    --play: 'Playfair Display', serif;
}
a{
    text-decoration: none;
}
.contact-form{
    padding: 0 3.25rem 0;
    position: relative;
    max-width: 1632px;
  margin: auto;
  margin-top: 6.25rem;

}
.form-hero{
    position: relative;
}
.form-hero h1{
    color: var(--white, #FFF);
font-family: var(--play);
font-size: 2.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
top: 4.44rem;
left: 4.69rem;


}
.form{
    padding: 3.12rem;
    display: flex;
    flex-direction: column;
    background: var(--white, #FFF);
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
width: 46.5625rem;
height: auto;
gap: 1.88rem;
position: absolute;
top:11.25rem;
right: 4.25rem;
}
.form-sec{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.8rem;
}
input,select{
    padding: 1.25rem 1.88rem;
    width: 100%;
    border-radius: 0.3125rem;
border: 1px solid #E8E8E8;
}
input::placeholder,select::placeholder,  #you  {
    color: #A4A4A4;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #fff;
}

button {
    color: #FFF;
    font-family:var(--play);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;
    background: transparent     ;
    border: none ;
    cursor: pointer;


}
.submit-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


  /* Style the <option> elements */
  #you option {
    background-color: #f9f9f9;
    color: #A4A4A4;
  }

  /* Style the selected <option> element */
  #you option:checked {
    background-color: #007bff;
    color: #fff;
  }

  @media (max-width: 768px){
    .contact-form {
        padding: 0.95rem;
    }
    .form-hero img{
        width: 100%;

    }
    .form-hero h1{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
top: 2.44rem;
left: 1.69rem;
    }
    .form{
        padding: 0.95rem;
        right: 0.25rem;
        width: 100%;
        margin-top: 8rem;
    }
    input, select{
        padding: 0.62rem;
    }
    input::placeholder, select::placeholder,#you    {
font-size: 0.875rem;
font-weight: 400;
line-height: normal;
    }
    .submit-btn{
font-size: 0.875rem;
font-weight: 600;
line-height: normal;
    }
    .form-hero{
        margin-bottom: 24rem;
    }
    .links span{
        font-size: 0.87rem !important;
    }
    .links hr{
        margin-inline: 0.48rem !important;
    }
    .copyright{
        font-size: 0.8rem !important;
    }
  }

