.main-head {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 3.25rem;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(12.5px);
    align-items: center;
}

a {
    text-decoration: none;

}

:root {
    --Poppins: 'Poppins', sans-serif;
    --Playfair: 'Playfair Display', serif;
}

.NavbarList li {
    list-style: none;
}

.NavbarList li a {
    color:  #333;
font-family: var(--Poppins);
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;

}

.NavbarList li a:hover {
    color: #BA9778;
}

.NavbarList {
    display: flex;
    gap: 1.81rem;
}


/* .btn a{
    color: #BA9778;
} */

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.81rem 3.5rem;
    background-color: #191919;
}

.head h1 {
    color: #FFF;
    text-align: center;
    font-family: var(--Poppins);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.headmail {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.info a {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

hr {
    width: 0.0625rem;
    height: 1.5rem;
}












.css-1t6c9ts{
    justify-content: center;
}
@media (max-width: 768px){
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 0.94rem;
        background-color: #191919;
    }
    .info h1,.headmail hr{
        display: none;

    }
  }







