*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --poppins:'Poppins', sans-serif;
    --play: 'Playfair Display', serif;
}
.btn {
    padding: 0.625rem 1.5625rem;
    width: 15.7%;
    cursor: pointer;
    background-color: #BA9778;
}



.btn a {
    color: #FFF;
    font-family:var(--play);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;

}


/* ============================index page strat here */

.index-hero{
    background-image: url(../src/assets/img/index-hero.svg);
    background-size: cover;
    padding: 7.19rem 3.25rem  ;
    position: relative;
}
.index-hero h4{
    color: var(--black-2, #333);
font-family: var(--poppins);
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
align-items: center;
gap: 15px;
padding-bottom: 0.31rem;

}
.index-hero hr{

    width: 5.375rem;
height: 0.125rem;
}
.index-hero h1{
    color: var(--black-2, #333);
font-family: var(--play);
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 1.25rem;
}
.index-hero p{
    color: var(--black-2, #333);
font-family: var(--poppins);
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
padding-bottom: 2.81rem;
}
.side-btn{
    position: absolute;
    right: -69px;
    top: 15.81rem;
    rotate: 90deg;
    width: fit-content;

}
.btn{
    width: fit-content;
}
.side-btn a{
    font-size: 2rem;
}
.experiences{
    background-image: url(../src/assets/img/exp-bg.svg);
    margin-block: 6.25rem;
    padding: 5rem 3.25rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 7.06rem;

}
/* .exp-left{
    flex: 1;
}
.exp-right{
    flex: 1;
} */
.exp-right h1{
    color: #000;
font-family: var(--play);
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 1.87rem;
}
.exp-right h4,.exp-right p{
    color: #7F7F7F;
font-family: var(--poppins);
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
padding-bottom: 0.94rem;
}
#right-p{
    padding-bottom: 2.5rem !important;
}
.exp{

box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
position: absolute;
text-align: center;

bottom: 7.94rem;
left: 18rem;
/* opacity: 0.6000000238418579; */
background-color: #FFF;


}
.exp-left-35{
    background-image: url(../src/assets/img/exp-35.svg);
background-repeat: no-repeat;
background-size: cover !important;
    padding: 1.25rem 1.88rem;




}
.exp-left-35 h1{
    color: #BA9778;
font-family: var(--poppins);
font-size: 3.625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.00313rem;
text-transform: uppercase;
}
.exp-left-35 h4{
    color: #000;
font-family: Barlow;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 140.5%; /* 2.1075rem */
letter-spacing: 0.00313rem;
text-transform: uppercase;
}
.experiences{
    position: relative;
}
.triyom{
    padding: 1rem 3.25rem;
    display: flex;

}
.triyom-left{
    background-color: #F7F7F7;

    padding: 3.75rem 4.37rem;
}
.triyom-left h3{
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;
}
.triyom-left hr{
    width: 6.25rem;
height: 0.125rem;
background: #BA9778;
}
.triyom-left h3{
    color: #000;
font-family: var(--play);
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 0.63rem;
}
.triyom-left p{
    color: #000;
font-family: var(--poppins);
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 1.88rem;
}
.triyom-right{
    /* flex: 1; */
    width: 50%;
    overflow: hidden;

}
.triyom-right img{
    height: 100%;
}
.flat-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.72rem;
    border-top: 0.09rem solid #D3C7BD;
    border-bottom:0.09rem solid #D3C7BD ;
}
.flat-detail h2{
    display: inline-flex;
    align-items: center;
    gap: 0.62rem;
    color: var(--dark-black, #191919);
font-family: var(--poppins);
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.flat-detail h3{
    color: var(--dark-black, #191919);
text-align: right;
font-family: var(--poppins);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 0;
}
.triyom-btn{
    margin-top: 2.5rem;
}



.circel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.circel span  {
    padding: 0.5rem;
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}
.circel span.active,
.circel span:active {
  background-color: #BA9778;
}
.Project{
    margin-block: 5rem;
    opacity: 0.800000011920929;
background: #F7F7F7;
padding: 3.25rem;
}

.Project h1{
    color: #000;
text-align: center;
font-family: var(--play);
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
padding-inline: 25rem;
}
.project-card{
    background-color: #fff;
    padding: 1.88rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:0.65rem;
    width: calc(33.33% - 10px); /* Adjust as needed */
    margin-bottom: 20px;




}
.project-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   margin-top: 3.12rem;
  }
  .project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  .project-card h4{
    color: var(--primery, #BA9778);
font-family: var(--poppins);
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 0.30rem;
  }
  .project-card h3{
    color: var(--dark-black, #191919);
font-family: var(--play);
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .project-card p{
    color: var(--gray, #7F7F7F);
font-family: var(--poppins);
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .project-card:hover{
    background-color: #BA9778;

  }
  .project-card:hover h4,.project-card:hover h3,.project-card:hover p{
    color: white;
  }






/* 
  .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
} */